<% provide :title, 'TWG | Contact' %>

<h1>How to contact us</h1>
<hr />

<div class="small-6 columns">
  <ul class="no-bullet">
    <li><h4>Tartu Waldorfgümnaasium (TWG)</h4></li>
    <li>Address: Ploomi 1, Tartu, 50110</li>
    <li>Main office phone: 53 43 4441</li>
    <li>Teachers' lounge: 7303776</li>
    <li>E-mail: <%= mail_to 'kontakt@waldorfkool.info' %></li>
  </ul>

  <p>The main office is open: Mon-Fri 8:00 to 16:00</p>

  <h5>Secretary</h5>
  <p>Karin Haav: <%= mail_to 'kontakt@waldorfkool.info' %>, phone: 53 43 4441</p>
</div>

<div class="small-6 columns">
  <h5>Tartu Free Waldorf School Association board of directors:</h5>
  <ul class="no-bullet">
    <li>E-mail list of the Board: <%= mail_to 'juhatus@waldorfkool.info' %></li>
    <li>Triin Iva (Acting Principal, parent): <%= mail_to 'triin.iva@waldorfkool.info' %></li>
    <li>Aet Valgepea (parent): <%= mail_to 'aetvalgepea@hot.ee' %></li>
    <li>Kaie Konsap (teacher): <%= mail_to 'kaie.konsap@waldorfkool.info' %></li>
    <li>Kaupo Jõeveer (parent): <%= mail_to 'kaupoveer@hot.ee' %></li>
    <li>Sigrid Tammemägi (teacher): <%= mail_to 'sigridtammemagi@gmail.com' %></li>
  </ul>
</div>

<div style="text-align: center">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16747.822834860533!2d26.72107584924317!3d58.35160995443056!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eb37383f40c21f%3A0x1e706b9915c8cd52!2sPloomi+1!5e0!3m2!1sen!2s!4v1398183655925" width="800" height="600" frameborder="0" style="border:0"></iframe>
</div>