<% provide :title, "TWG | #{@student.name}" %>

<%= render 'students' %>

<div class="small-9 columns">
  <h1><%= @student.name %></h1>
  <%= image_tag '64.png' %>
  <div id="about-student">
    <%= sanitize((@student.about).gsub(/---MORE---/, '')) %>
  </div>
  <%= link_to 'All students', students_path %>
</div>