<% provide :title, "TWG | #{@student.name}" %>

<%= render 'students' %>

<div class="small-9 columns">
  <h1><%= @student.name %></h1>

  <%= image_tag @student.photo.url(:medium) %>

  <div id="about-student">
    <%= sanitize((@student.about).gsub(/---MORE---/, '')) %>
  </div>

  <% if admin_signed_in? %>
      <hr />
      <div class="admin-links">
        Admin actions:
        <%= link_to 'Edit', edit_student_path(@student) %> &nbsp;
        <%= link_to 'Delete', student_path(@student), method: :delete, data: { confirm: "Delete #{@student.name}'s profile?"} %>
      </div>
  <% end %>

  <hr />
  <%= link_to 'All students', students_path %>
</div>