<% provide :title, "TWG | #{@student.name}" %>

<%= render 'students' %>

<div class="small-9 columns">
  <h1><%= @student.name %></h1>

  <%= image_tag @student.photo.url(:medium) %>

  <div id="about-student">
    <%= sanitize((@student.about).gsub(/---MORE---/, '')) %>
  </div>

  <% if @student.assets.present? %>
      <div id="creations">
        <% @student.assets.each do |asset| %>
	        <%= image_tag asset.asset.url(:medium) %>
	        <% if admin_signed_in? %>
	            <small><%= number_to_human_size(asset.asset.size) %></small>
		        <%= link_to 'Delete file', asset_path(asset), method: :delete, id: "delete_#{asset.asset_file_name}" %>
	        <% end %>
	    <% end %>
      </div>
  <% end %>

  <% if admin_signed_in? %>
      <hr />
      <div class="admin-links">
        Admin actions:
        <%= link_to 'Edit', edit_student_path(@student) %> &nbsp;
        <%= link_to 'Delete', student_path(@student), method: :delete, data: { confirm: "Delete #{@student.name}'s profile?"} %>
      </div>
  <% end %>

  <hr />
  <%= link_to 'All students', students_path %>
</div>