<% provide :title, 'TWG | Our teachers' %>

<h1>Waldorfgümnaasium teachers & staff</h1>
<hr />

<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <% @teachers.each do |teacher| %>
      <li>
        <%= image_tag '64.png' %>
        <ul class="no-bullet">
          <li><h6><%= teacher.name %></h6></li>
          <li><%= mail_to teacher.email %></li>
          <li><%= teacher.subjects %></li>
          <li><%= link_to 'More', teacher_path(teacher) %></li>
        </ul>
      </li>
  <% end %>
</ul>