<% provide :title, "TWG | #{@teacher.name}" %>

<%= render 'teachers' %>

<div class="small-9 columns">

  <%= image_tag '64.png' %>
  <p><%= @teacher.name %></p>
  <p><%= @teacher.email %></p>
  <p><%= @teacher.subjects %></p>
  <p><%= @teacher.bio %></p>

  <%= link_to 'All teachers', teachers_path %>
</div>