<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'Tartu Waldorf School' %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body data-no-turbolink>

  <%= render 'layouts/header' %>

  <div class="row">
    <div class="small-11 small-centered columns">
      <%= yield %>
    </div>
  </div>

<div style="height: 40px"></div><!-- footer "padding" -->

  <%= render 'layouts/footer' %>

  </body>
</html>